{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
  <h3>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Staff</h3>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">{{ form.full_name|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.role|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.phone|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.cnic|as_crispy_field }}</div>
      <div class="col-md-12">{{ form.address|as_crispy_field }}</div>
    </div>
    
    <hr/>
    <h5>Employment & Salary</h5>
    <div class="row">
      <div class="col-md-4">{{ form.joined_on|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.salary_start|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.monthly_salary|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.has_software_access|as_crispy_field }}</div>
    </div>

    <div id="accountFields" style="display: none;">
      <hr/>
      <h5>Software Access Credentials</h5>
      <div class="row">
        <div class="col-md-6">
          <label>Username</label>
          <input type="text" name="username" class="form-control" placeholder="Enter username">
        </div>
        <div class="col-md-6">
          <label>Password</label>
          <input type="password" name="password" class="form-control" placeholder="Enter password (default: 1122)">
        </div>
      </div>
    </div>

    <hr/>
    <h5>Module Permissions</h5>
    <div class="row">
      <div class="col-md-4">{{ form.access_sales|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.access_inventory|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.access_accounts|as_crispy_field }}</div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Save</button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const accessCheckbox = document.querySelector("#id_has_software_access");
    const accountFields = document.getElementById("accountFields");

    function toggleAccountFields() {
      if (accessCheckbox.checked) {
        accountFields.style.display = "block";
      } else {
        accountFields.style.display = "none";
      }
    }

    accessCheckbox.addEventListener("change", toggleAccountFields);
    toggleAccountFields();
  });
</script>
{% endblock %}
